{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-8 card bg-warning">
        <div class="card-body">
            <h1 class="text-center">Gracias por su compra</h1>
            <h5 class="text-center"><em>Su compra se ha completado con éxito</em></h5>
        </div>
    </div>
</div>
    <div class="row justify-content-center mt-5">
    <div class="col-8 card bg-danger text-white">
        <div class="card-body">
            <h2 class="text-center">Disfrute de la pelicula</h2>

        </div>
    </div>
</div>
{% endblock %}